<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- General -->
    <category label="30009">
        <setting id="context.coho.quickResume" type="bool" label="30000" default="true"/>
        <setting id="context.coho.shuffle" type="bool" label="30001" default="true"/>
        <setting id="context.coho.playFromRandomPoint" type="bool" label="30002" default="true"/>
        <setting id="context.coho.rescrape" type="bool" label="30003" default="true"/>
        <setting id="context.coho.sourceSelect" type="bool" label="30004" default="true"/>
        <setting id="context.coho.findSimilar" type="bool" label="30005" default="true"/>
        <setting id="context.coho.browseShow" type="bool" label="30006" default="true"/>
        <setting id="context.coho.browseSeason" type="bool" label="30007" default="true"/>
        <setting id="context.coho.traktManager" type="bool" label="30008" default="true"/>        
    </category>
</settings>
